*{
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
/**navbar**/
#navbar-grid{
  height: 20vh;
  width: 100%;
  background-color: #191BA9;
  display: grid;
  grid-template-columns: 20% 80%;
  /**position: fixed;**/
}
#navbar-img{
  grid-column: 1;
  width: auto;
  height: 20vh;
}
#navbar{
  grid-column: 2;
}
.navbar-txt{
  background-color: #191BA9;
  float: right;
  margin-right: 10%;
  margin-top: 8vh;
  list-style-type: none;
  font-size: 5vh;
}
.navbar-lnk{
  background-color: #191BA9;
  color: #5CC2F2;
  text-decoration: none;
}
a.navbar-lnk:visited{
  color: #5CC2F2;
}
a.navbar-lnk:active{
  color: white;
}
a.navbar-lnk:hover{
  color: white;
}
/**header-intro**/
#header-img-grid{
   height: 100vh;
   width: 100%;
   background-color: #191BA9;
   display: grid;
}
#header-img-containter{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
#header-img{
  display: block;
  margin-left: 42.5%;
  margin-top: 10%;
  height: 25%;
  width: auto;
  transition: transform 1s;
}
#header-img:hover{
  transform: rotate(360deg);
}
/**about**/
#about{
  height: 100%;
}
.layout{
  width: 100%;
  height: 100%;
  background-color: #5CC2F2;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 30% 40% 20%;
  min-height: fit-content;
}
.title-box{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.title-txt{
  font-size: 25vh;
  font-family: consolas;
  color: #191BA9;
  margin-top: 5vh;
}
.txt-box{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}
.txt{
  font-size: 4vh;
  margin-top: 1.5vh;
  font-family: consolas;
  color: #191BA9;
}
/**projects**/
#projects{
  height: 100%;
}
/**resources**/
#resources{
  height: 100%;
}
.infolist{
  list-style: none;
}
.info-lnk{
  font-size: 4vh;
  margin-top: 1.5vh;
  font-family: consolas;
  color: #191BA9;
  text-decoration: none;
}
.info-lnk:hover{
  color: white;
}
/**contact**/
.contact-img{
  width: 95%;
  height: auto;
  transition: transform 1s;
}
.contact-img:hover{
  transform: rotate(360deg);
}
#contact-img{
  grid-row: 3;
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 20% 60% 20%;
}
#twit-logo{
  grid-column: 1;
  grid-row: 2;
}
#gh-logo{
  grid-column: 2;
  grid-row: 2;
}
#fb-logo{
  grid-column: 3;
  grid-row: 2;
}
#dt-logo{
  grid-column: 4;
  grid-row: 2;
}
/**medium screens
@media only screen and (max-width: 700px){
 .navbar-txt{
   font-size: 16px;
   margin-left: 10px;
 }
 #header-img{
  display: block;
  margin-left: 38%;
  margin-top: 35%;
  height: 25%;
  width: auto;
 }
 .title-txt{
  font-size: 20vh;
 }
 .txt{
  font-size: 3vh;
  margin-top: 0.5vh;
 }
}**/
/**small screens
@media only screen and (max-width: 500px){
 .navbar-txt{
   font-size: 14px;
   margin-left: 10px;
 }
  #header-img{
  display: block;
  margin-left: 35%;
  margin-top: 45%;
  height: 25%;
  width: auto;
 }
 .title-txt{
  font-size: 15vh;
  margin-top: 10vh;
 }
 .txt{
  font-size: 2vh;
  margin-top: 0;
 }
}**/
/**mobile
@media only screen and (max-width: 430px){
  *{
    overflow-x: hidden;
  }
  .navbar-txt{
   font-size: 10px;
   margin-left: 3px;
 }
  #header-img{
  display: block;
  margin-left: 30%;
  margin-top: 60%;
  height: 20%;
  width: auto;
 }
 #about-title{
  font-size: 10vh;
  margin-top: 7vh;
 }
 #about-txt{
  font-size: 2vh;
  margin-top: 0;
 }
}**/
@media only screen and (max-width: 500px){
  #navbar-img{
    display: none;
  }
  #navbar-grid{
    grid-template-columns: 100%;
  }
  #navbar{
    grid-column: 1;
  }
  .navbar-txt{
    font-size: 2vh;
    text-align: center;
  }
  #header-img{
    margin-top: 25%;
    margin-right: 15%;
    padding-right: 50%;
  }
  .title-txt{
    font-size: 10vh;
  }
  .txt{
    font-size: 2.5vh;
    margin-top: 0.5vh;
  }
}